build:opt -c opt
build:opt --copt=-O3

build:platform_build --incompatible_enable_cc_toolchain_resolution

build:jetson --config=platform_build --platforms=@bazel_gcc_toolchain//platforms:aarch64_linux

build:jetson-opt --config=jetson
build:jetson-opt --config=opt

test --test_output=errors
