defusedxml
empy
gnupg
ifaddr
numpy  # Compiled, only one file in rospy needs it.
pycryptodomex
rospkg
# Versions >=5.4 ignore the global option. Should be investigated further.
pyyaml==5.3 --global-option="--without-libyaml"
pylint
